{{> head}}

{{> navbar}}

	<div class="row">
		<div class="col-8">
			<h1>About</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum reiciendis obcaecati, veniam laborum quam quaerat veritatis doloremque voluptatum, necessitatibus nihil quibusdam culpa perspiciatis aperiam minus laboriosam similique dignissimos, ratione, accusamus dicta. Blanditiis laudantium perferendis ipsum officia obcaecati dolorem dignissimos mollitia, cumque perspiciatis rerum soluta, neque excepturi a debitis veritatis consequatur!</p>
		</div>
		<div class="col-4">
			<img src="assets/img/1.jpg" alt="" class="img-thumbnail">
		</div>
	</div>
{{> footer}}